apartment/src/main/mule/apartment.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="apartment-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="apartment-config" api="resource::cebcf138-8085-4fe3-ae23-c47432e96f13:apartment:1.0.2:raml:zip:apartment.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="abf5f494-a55d-49ff-bc82-ffaa04e56394">
        <salesforce:basic-connection username="rreddy@gmail.com" password="Fall2020" securityToken="42JcrWlDICbtLmLBDYYjNqGb5" />
    </salesforce:sfdc-config>
    <configuration-properties doc:name="Configuration properties" doc:id="623f20f0-1511-4f0b-a6e7-8f627ec630a4" file="mule-app.properties.yaml" />
    
	<flow name="apartment-main">
        <http:listener config-ref="apartment-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apartment-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="apartment-console">
        <http:listener config-ref="apartment-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="apartment-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\Apartments:application\json:apartment-config">
        <logger level="INFO" message="put:\Apartments:application\json:apartment-config" />
        <ee:transform doc:name="Transform Message" doc:id="b774645a-47ed-4b89-ba7e-08d5e14a5f03">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{  Id:payload.Id, 
	Name: payload.ApartmentName,
	Street_Address__c: payload.StreetAddress,
	Apartment_Rent__c: payload.ApartmentRent as String,
	BedRooms__c: payload.BedRooms,
	CarParking__c: payload.CarParking,
	Address__c: payload.Address,
	State__c: payload.State,
	PostalCode__c: payload.PostalCode,
	PhoneNumber__c: payload.PhoneNumber as String,
	Email__c: payload.Email,
}]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <salesforce:update doc:name="Update" doc:id="982c3a0a-1189-4955-9017-a64346b1c890" config-ref="Salesforce_Config" type="Apartment__c" />
        <ee:transform doc:name="Transform Message" doc:id="9c749770-1095-4442-9140-6230d28cd7c3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <api-gateway:autodiscovery apiId="${api.id}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="8560eba5-21e2-4933-b478-bd9304064158" flowRef="apartment-main" />
	<flow name="delete:\Apartments:apartment-config">
        <logger level="INFO" message="delete:\Apartments:apartment-config" />
        <ee:transform doc:name="Transform Message" doc:id="fddd0b68-ae2b-423f-ad43-78aa6f99d132">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[payload.Id]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <salesforce:delete doc:name="Delete" doc:id="2d732659-4cce-4031-b62c-481b02236c2b" config-ref="Salesforce_Config" />
        <ee:transform doc:name="Transform Message" doc:id="0b278812-2701-4c72-b69b-79d926c47c64">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\Apartments:apartment-config">
        <logger level="INFO" message="get:\Apartments:apartment-config" />
        <salesforce:query doc:name="Query" doc:id="04b807c1-18c2-463a-8f7d-472d428bf8c8" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Address__c,Apartment_Rent__c,BedRooms__c,CarParking__c,Email__c,Id,Name,PhoneNumber__c,PostalCode__c,State__c,Street_Address__c FROM Apartment__c]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Transform Message" doc:id="975ed4ce-954f-4d25-bd9d-2a40c58e8dc6">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ApartmentName: payload01.Name default "",
	StreetAddress: payload01.Street_Address__c default "",
	Email: payload01.Email__c default "",
	ApartmentRent: payload01.Apartment_Rent__c as Number default 0,
	Address: payload01.Address__c default "",
	State: payload01.State__c default "",
	BedRooms: payload01.BedRooms__c default 0,
	CarParking: payload01.CarParking__c,
	PostalCode: payload01.PostalCode__c default 0,
	PhoneNumber: payload01.PhoneNumber__c as Number default 0
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\Apartments:application\json:apartment-config">
        <logger level="INFO" message="post:\Apartments:application\json:apartment-config" />
        <ee:transform doc:name="Transform Message" doc:id="a70d6ecc-9230-4f61-aaf9-78c30c06136e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Name: payload.ApartmentName,
	Street_Address__c: payload.StreetAddress,
	Apartment_Rent__c: payload.ApartmentRent as String,
	BedRooms__c: payload.BedRooms,
	CarParking__c: payload.CarParking,
	Address__c: payload.Address,
	State__c: payload.State,
	PostalCode__c: payload.PostalCode,
	PhoneNumber__c: payload.PhoneNumber as String,
	Email__c: payload.Email
}]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <salesforce:create doc:name="Create" doc:id="52d1bc8b-6017-4e35-a46a-9577e4e1d6a7" config-ref="Salesforce_Config" type="Apartment__c" />
        <ee:transform doc:name="Transform Message" doc:id="772f3b7b-a9bf-49de-b5e6-c2ec40a5bbb1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
